.modal_add_group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalAdd__container {
  background-color: #fff;
  outline: none;
  max-width: 500px;
  max-height: 800px;
  width: 100%;
  border-radius: 5px;
  /* min-height: calc(100%-2.5rem); */
}

.modalAdd__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f0eff5;
}

.modalAdd__header_close_icon {
  cursor: pointer;
}

.modalAdd__header_title {
  font-weight: 500;
  font-size: 1rem;
}

.modalAdd__body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.modalAdd__footer {
  border-top: 1px solid #f0eff5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.modalAdd__footer_btn_add_user {
  margin-left: 25px;
  font-size: 0.7rem !important;
  padding: 10px;
  background-color: #7269ef;
  color: #fff;
}

.modalAdd__footer_close {
  color: #7269ef;
  cursor: pointer;
  font-size: 0.9rem;
}

/***/

.modalChangeName_input {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 7px;
  color: #1c1e21;
}
